.list-category {
    list-style-type: none;
}

.list-category>li {
    display: inline-block;
}

.img-list-admin {
    width: 50px;
    height: 50px;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

#text-danger {
    color: red;
}

.has-error {
    color: red;
}

#img-info {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.field-require {
    border: 1px solid red;
}

.border-bottom {
    border-bottom: 1px dotted black;
}

.start-lesson {
    margin-top: 20px;
}
.is-correct {
    color: green;
}

.not-correct {
    color: red;
}
