.list-category {
    list-style-type: none;
}

.list-category>li {
    display: inline-block;
}

.img-list-admin {
    width: 50px;
    height: 50px;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

#text-danger {
    color: red;
}

.has-error {
    color: red;
}

#img-info {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.field-require {
    border: 1px solid red;
}

.border-bottom {
    border-bottom: 1px dotted black;
}

.start-lesson {
    margin-top: 20px;
}
.is-correct {
    color: green;
}

.not-correct {
    color: red;
}

.word-list {
    margin-top: 10px;
}

.word-list .section-filter-words .word-show {
    font-size: 20px;
    color: #22558a;
    font-weight: 500;
    margin: 0;
}

.word-list .section-filter-words .answer-show {
    color: #636b6f;
    font-style: italic;
    font-size: 15px;
}

.word-list .section-filter-words li {
    display: inline-block;
    margin-right: 10px;
}

.section-alpha h1 {
    margin-bottom: 0;
    border-bottom: 1px solid #787878;
}

.section-history ul {
    list-style: none;
    padding-left: : 5px;
    font-style: 12px !important;
}

.show-info-homepage {
    min-height: 500px;
}
